.container {
	display:flex;
}

.root {
	font-size: larger;
	color: white;
	box-sizing: border-box;
	padding: 8px;
	cursor: pointer;
	background: rgba(53, 81, 138, 0.8);
	backdrop-filter: blur( 4px );
}

.message {
	max-width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.avatar{
	flex-grow: 1;
}

.name {
	flex-grow: 2;
	font-weight: bold;
}
